{{outlet}}
{{google-map destination=model latitude=model.latitude longitude=model.longitude}}

<div id='blog-content'>
  {{navigation-buttons}}

  <header>
    <h1>{{model.city}}, {{model.country}}</h1>
    <h3 class='timestamp'>{{moment-format model.date 'dddd, MMMM Do YYYY' 'YYYYMMDD'}}</h3>
  </header>

  <article>
    {{{model.body}}}
  </article>

  {{#if model.flickrLink}}
    {{{model.flickrCache}}}
    <p>
      Here are <a href="http://www.flickr.com/photos/counterbeing/sets/{{model.flickrLink}}/" title="The flickr set">the original files on flickr</a>.
    </p>
  {{/if}}

  {{navigation-buttons}}
</div>
<!-- analytics -->
