{{outlet}}
{{google-map destination=model latitude=model.latitude longitude=model.longitude}}

<div id='blog-content'>
  {{navigation-buttons}}

  <header>
    <h1>{{model.city}}, {{model.country}}</h1>
    <h3 class='timestamp'>{{moment-format model.date 'dddd, MMMM Do YYYY' 'YYYYMMDD'}}</h3>
  </header>

  <article>
    {{{model.body}}}
  </article>

  {{#if model.flickrLink}}
    {{#each model.photos as |photo| }}
      <figure >
        <img 
          alt="{{photo.title}}"
          src="https://s3.amazonaws.com/south-america-blog/{{model.flickrLink}}/{{photo.name}}" 
        >
      </figure>
      <figcaption>{{photo.description}}</figcaption>
    {{/each}}
  {{/if}}

  {{navigation-buttons}}
</div>
<!-- analytics -->
