{{outlet}}
{{google-map latitude=model.latitude longitude=model.longitude}}

<div id='blog-content'>
  <div class="map-nav">
    <a href="#" title="previous post" class="button scripty">&lt; Previous</a>
    <a href="#" title="next post" class="button scripty">Next &gt;</a>
    <a href="/index.html" title="homepage" class="button">Homepage</a>
  </div>

  <header>
    <h2>{{model.city}}, {{model.country}}</h2>
    {{!-- <h3>{{model.formatDate date}}</h3> --}}
  </header>

  {{{model.body}}}

  {{#if model.flickrLink}}
    {{{model.flickrCache}}}
    <p>
      Here are <a href="http://www.flickr.com/photos/counterbeing/sets/{{model.flickrLink}}/" title="The flickr set">the original files on flickr</a>.
    </p>
  {{/if}}
</div>
<!-- analytics -->
